<div data-bind="with: selectedClaim">
	<div class="row-fluid">
		<div class="span12">
			<h4>Advanced Payment Request</h4>
		</div>
	</div>
	<form>
	<div class="row-fluid">
		<div class="span12">
			<p>NFIP Direct Servicing Agent agrees to advance you <b class="text-error">$<span data-bind="text: Number(data.content_advance) + Number(data.building_advance)"></span></b> against the final payment of your loss.  It is understood by you, that the investigation of your loss is not completed at this time.  It may be established, after the investigation of your loss, that NFIP Direct Servicing Agent has no legal obligation for payment of your claim.  If it is determined your claim is not a valid claim under your insurance policy, you agree to reimburse NFIP Direct Servicing Agent the <b class="text-error">$<span data-bind="text: Number(data.content_advance) + Number(data.building_advance)"></span></b> advanced to you.  Issuance of an advance payment by us is not an admission of liability on our part.  Acceptance by you does not represent a satisfaction or release of all claims.</p>
			<p>This is not a PROOF OF LOSS as required by the policy.  A PROOF OF LOSS must still be submitted to the company within sixty (60) days of the date of loss, as stated in your policy.</p>
			<p>This agreement or payment of this advance is not intended to change or modify any of the conditions, terms, provisions, or requirements contained in the policy.  Any obligations or legal rights which may now or hereafter be available to you or the company are reserved.</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
            <a href="#" data-bind="fastClick: advanced" class="btn pull-left">Back</a>
			<a href="#" data-bind="fastClick: loadSignatures" class="btn btn-primary pull-right">I Agree</a>
		</div>
	</div>
	</form>
</div>
