<div data-bind="with: selectedClaim">
	<div class="row-fluid">
		<div class="span12">
			<h4>Advanced Payment Request</h4>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<!-- ko if: data.last_name -->
				<h3 data-bind="text: data.last_name+', '+data.first_name">Name</h3>
				<!-- /ko -->
				<!-- ko ifnot: data.last_name -->
				<h3 data-bind="text: displayTitle()">Name</h3>
				<!-- /ko -->
				<h4 data-bind="text: 'Claim: '+data.claimFileID">NUMBER</h4>
				<h4 data-bind="text: 'Policy: '+data.policy_number">NUMBER</h4>
				<h4 data-bind="html: data.address1+'<br />'+data.city+', '+data.state+' '+data.zip">1234 Street Ave.<br />Amarillo, TX 79102</h4>
				<h4 data-bind="text: data.phone">Phone Number</a>
			</div>
		</div>
	</div>
	<form>
    <div class="row-fluid">
        <div class="span12">
            <p>Please enter the following amounts requested for Advance:</p>
        </div>
    </div>
	<div class="row-fluid">
		<div class="span6">
			<label>Content Advance</label>
			<input data-bind="value: data.content_advance" type="number" class="span12">
		</div>
		<div class="span6">
			<label>Building Advance</label>
			<input data-bind="value: data.building_advance" type="number" class="span12">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<label>Content Reserve</label>
			<input data-bind="value: data.content_reserve" type="number" class="span12">
		</div>
		<div class="span6">
			<label>Building Reserve</label>
			<input data-bind="value: data.building_reserve" type="number" class="span12">
		</div>
	</div>
    <div class="row-fluid">
        <div class="span12">
            <a href="#" data-bind="fastClick: loadAdvancedCopy" class="btn btn-primary pull-right">Next</a>
        </div>
    </div>
	</form>
</div>