<div data-bind="with: selectedClaim">
	<div class="row-fluid">
		<div class="span12">
			<h4>Engineer Request</h4>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<!-- ko if: data.last_name -->
				<h3 data-bind="text: data.last_name+', '+data.first_name">Name</h3>
				<!-- /ko -->
				<!-- ko ifnot: data.last_name -->
				<h3 data-bind="text: displayTitle()">Name</h3>
				<!-- /ko -->
				<h4 data-bind="text: 'Claim: '+data.claimFileID">NUMBER</h4>
				<h4 data-bind="text: 'Policy: '+data.policy_number">NUMBER</h4>
				<h4 data-bind="html: data.address1+'<br />'+data.city+', '+data.state+' '+data.zip">1234 Street Ave.<br />Amarillo, TX 79102</h4>
				<h4 data-bind="text: data.phone">Phone Number</a>
			</div>
		</div>
	</div>
	<form>
	<div class="row-fluid">
		<div class="span12">
			<p>Please inspect the property with regards to possible damage as a result of the flood that occurred at the insured premises on ADD DATE.  Please determine if the flood occurrence on ADD DATE damaged the structure at the loss location listed above.  Please include the following in your report:</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<label>Adjuster Description of the specific area(s) in question and the reason for requesting the assistance of an engineer:</label>
			<textarea data-bind="value: data.engineer_request" class="span12"></textarea>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<p>Please contact the insured to set up an appointment and notify adjuster of the appointment time.  Please include all insured information on all correspondence and reports.  </p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<a href="#" data-bind="fastClick: saveEngineer" class="btn btn-primary pull-right">Save</a>		
		</div>
	</div>
	</form>
</div>