<div data-bind="with: selectedClaim">
	<div class="row-fluid">
		<div class="span12">
			<h4>Inpection for Residential</h4>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<h3 data-bind="text: data.last_name+', '+data.first_name">Name</h3>
				<h4 data-bind="html: data.address1+'<br />'+data.city+', '+data.state+' '+data.zip">1234 Street Ave.<br />Amarillo, TX 79102</h4>
				<h4 data-bind="text: data.phone">Phone Number</a>
			</div>
		</div>
	</div>
	<form data-bind="submit: preliminaryProcess" id="preliminary_form" class="form-horizontal">
	<div class="row-fluid">
		<div class="span12">
            <h4>Dates</h4>
            <div class="control-group">
				<label class="control-label">Survey date:</label>
				<div class="controls">
					<input data-bind="value: data.report_date" type="date" name="data[Claim][report_date]" class="span12" placeholder="Date">
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Interview:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.interview" type="radio" name="data[Claim][interview]" id="interview0" value="VALUE_0" />
                        <label class="btn icon-" for="interview0">VALUE_0</label>
                        <input data-bind="checked: data.￼interview" type="radio" name="data[Claim][interview￼]" id="￼interview1" value="VALUE_1" />
                        <label class="btn icon-" for="￼interview1">VALUE_1</label>
                        <input data-bind="checked: data.￼interview" type="radio" name="data[Claim][￼interview]" id="￼interview2" value="VALUE_2" />
                        <label class="btn icon-" for="￼interview2">VALUE_2</label>
                        <input data-bind="checked: data.￼interview" type="radio" name="data[Claim][interview￼]" id="￼interview3" value="VALUE_3" />
                        <label class="btn icon-" for="￼interview3">VALUE_3</label>
                        <input data-bind="checked: data.interview￼" type="radio" name="data[Claim][￼interview]" id="￼interview4" value="VALUE_4" />
                        <label class="btn icon-" for="￼interview4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Property Inspected:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.property_inspected" type="radio" name="data[Claim][property_inspected]" id="property_inspected0" value="VALUE_0" />
                        <label class="btn icon-" for="property_inspected0">VALUE_0</label>
                        <input data-bind="checked: data.￼property_inspected" type="radio" name="data[Claim][property_inspected￼]" id="￼property_inspected1" value="VALUE_1" />
                        <label class="btn icon-" for="￼property_inspected1">VALUE_1</label>
                        <input data-bind="checked: data.￼property_inspected" type="radio" name="data[Claim][￼property_inspected]" id="￼property_inspected2" value="VALUE_2" />
                        <label class="btn icon-" for="￼property_inspected2">VALUE_2</label>
                        <input data-bind="checked: data.￼property_inspected" type="radio" name="data[Claim][property_inspected￼]" id="￼property_inspected3" value="VALUE_3" />
                        <label class="btn icon-" for="￼property_inspected3">VALUE_3</label>
                        <input data-bind="checked: data.property_inspected￼" type="radio" name="data[Claim][￼property_inspected]" id="￼property_inspected4" value="VALUE_4" />
                        <label class="btn icon-" for="￼property_inspected4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Limited Site Access:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.limited_site_access" type="radio" name="data[Claim][limited_site_access]" id="limited_site_access0" value="VALUE_0" />
                        <label class="btn icon-" for="limited_site_access0">VALUE_0</label>
                        <input data-bind="checked: data.￼limited_site_access" type="radio" name="data[Claim][limited_site_access￼]" id="￼limited_site_access1" value="VALUE_1" />
                        <label class="btn icon-" for="￼limited_site_access1">VALUE_1</label>
                        <input data-bind="checked: data.￼limited_site_access" type="radio" name="data[Claim][￼limited_site_access]" id="￼limited_site_access2" value="VALUE_2" />
                        <label class="btn icon-" for="￼limited_site_access2">VALUE_2</label>
                        <input data-bind="checked: data.￼limited_site_access" type="radio" name="data[Claim][limited_site_access￼]" id="￼limited_site_access3" value="VALUE_3" />
                        <label class="btn icon-" for="￼limited_site_access3">VALUE_3</label>
                        <input data-bind="checked: data.limited_site_access￼" type="radio" name="data[Claim][￼limited_site_access]" id="￼limited_site_access4" value="VALUE_4" />
                        <label class="btn icon-" for="￼limited_site_access4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Occupant:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.occupant" type="radio" name="data[Claim][occupant]" id="occupant0" value="VALUE_0" />
                        <label class="btn icon-" for="occupant0">VALUE_0</label>
                        <input data-bind="checked: data.￼occupant" type="radio" name="data[Claim][occupant￼]" id="￼occupant1" value="VALUE_1" />
                        <label class="btn icon-" for="￼occupant1">VALUE_1</label>
                        <input data-bind="checked: data.￼occupant" type="radio" name="data[Claim][￼occupant]" id="￼occupant2" value="VALUE_2" />
                        <label class="btn icon-" for="￼occupant2">VALUE_2</label>
                        <input data-bind="checked: data.￼occupant" type="radio" name="data[Claim][occupant￼]" id="￼occupant3" value="VALUE_3" />
                        <label class="btn icon-" for="￼occupant3">VALUE_3</label>
                        <input data-bind="checked: data.occupant￼" type="radio" name="data[Claim][￼occupant]" id="￼occupant4" value="VALUE_4" />
                        <label class="btn icon-" for="￼occupant4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Is building for sale:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.building_for_sale" type="radio" name="data[Claim][building_for_sale]" id="building_for_sale0" value="VALUE_0" />
                        <label class="btn icon-" for="building_for_sale0">VALUE_0</label>
                        <input data-bind="checked: data.￼building_for_sale" type="radio" name="data[Claim][building_for_sale￼]" id="￼building_for_sale1" value="VALUE_1" />
                        <label class="btn icon-" for="￼building_for_sale1">VALUE_1</label>
                        <input data-bind="checked: data.￼building_for_sale" type="radio" name="data[Claim][￼building_for_sale]" id="￼building_for_sale2" value="VALUE_2" />
                        <label class="btn icon-" for="￼building_for_sale2">VALUE_2</label>
                        <input data-bind="checked: data.￼building_for_sale" type="radio" name="data[Claim][building_for_sale￼]" id="￼building_for_sale3" value="VALUE_3" />
                        <label class="btn icon-" for="￼building_for_sale3">VALUE_3</label>
                        <input data-bind="checked: data.building_for_sale￼" type="radio" name="data[Claim][￼building_for_sale]" id="￼building_for_sale4" value="VALUE_4" />
                        <label class="btn icon-" for="￼building_for_sale4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Is building under construction of renovations:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.construction_or_renovations" type="radio" name="data[Claim][construction_or_renovations]" id="construction_or_renovations0" value="VALUE_0" />
                        <label class="btn icon-" for="construction_or_renovations0">VALUE_0</label>
                        <input data-bind="checked: data.￼construction_or_renovations" type="radio" name="data[Claim][construction_or_renovations￼]" id="￼construction_or_renovations1" value="VALUE_1" />
                        <label class="btn icon-" for="￼construction_or_renovations1">VALUE_1</label>
                        <input data-bind="checked: data.￼construction_or_renovations" type="radio" name="data[Claim][￼construction_or_renovations]" id="￼construction_or_renovations2" value="VALUE_2" />
                        <label class="btn icon-" for="￼construction_or_renovations2">VALUE_2</label>
                        <input data-bind="checked: data.￼construction_or_renovations" type="radio" name="data[Claim][construction_or_renovations￼]" id="￼construction_or_renovations3" value="VALUE_3" />
                        <label class="btn icon-" for="￼construction_or_renovations3">VALUE_3</label>
                        <input data-bind="checked: data.construction_or_renovations￼" type="radio" name="data[Claim][￼construction_or_renovations]" id="￼construction_or_renovations4" value="VALUE_4" />
                        <label class="btn icon-" for="￼construction_or_renovations4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Summary of condition:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.summary_of_condition" type="radio" name="data[Claim][summary_of_condition]" id="summary_of_condition0" value="VALUE_0" />
                        <label class="btn icon-" for="summary_of_condition0">VALUE_0</label>
                        <input data-bind="checked: data.￼summary_of_condition" type="radio" name="data[Claim][summary_of_condition￼]" id="￼summary_of_condition1" value="VALUE_1" />
                        <label class="btn icon-" for="￼summary_of_condition1">VALUE_1</label>
                        <input data-bind="checked: data.￼summary_of_condition" type="radio" name="data[Claim][￼summary_of_condition]" id="￼summary_of_condition2" value="VALUE_2" />
                        <label class="btn icon-" for="￼summary_of_condition2">VALUE_2</label>
                        <input data-bind="checked: data.￼summary_of_condition" type="radio" name="data[Claim][summary_of_condition￼]" id="￼summary_of_condition3" value="VALUE_3" />
                        <label class="btn icon-" for="￼summary_of_condition3">VALUE_3</label>
                        <input data-bind="checked: data.summary_of_condition￼" type="radio" name="data[Claim][￼summary_of_condition]" id="￼summary_of_condition4" value="VALUE_4" />
                        <label class="btn icon-" for="￼summary_of_condition4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Color of building:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.color_of_building" type="radio" name="data[Claim][color_of_building]" id="color_of_building0" value="VALUE_0" />
                        <label class="btn icon-" for="color_of_building0">VALUE_0</label>
                        <input data-bind="checked: data.￼color_of_building" type="radio" name="data[Claim][color_of_building￼]" id="￼color_of_building1" value="VALUE_1" />
                        <label class="btn icon-" for="￼color_of_building1">VALUE_1</label>
                        <input data-bind="checked: data.￼color_of_building" type="radio" name="data[Claim][￼color_of_building]" id="￼color_of_building2" value="VALUE_2" />
                        <label class="btn icon-" for="￼color_of_building2">VALUE_2</label>
                        <input data-bind="checked: data.￼color_of_building" type="radio" name="data[Claim][color_of_building￼]" id="￼color_of_building3" value="VALUE_3" />
                        <label class="btn icon-" for="￼color_of_building3">VALUE_3</label>
                        <input data-bind="checked: data.color_of_building￼" type="radio" name="data[Claim][￼color_of_building]" id="￼color_of_building4" value="VALUE_4" />
                        <label class="btn icon-" for="￼color_of_building4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Units:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.units" type="radio" name="data[Claim][units]" id="units0" value="VALUE_0" />
                        <label class="btn icon-" for="units0">VALUE_0</label>
                        <input data-bind="checked: data.￼units" type="radio" name="data[Claim][units￼]" id="￼units1" value="VALUE_1" />
                        <label class="btn icon-" for="￼units1">VALUE_1</label>
                        <input data-bind="checked: data.￼units" type="radio" name="data[Claim][￼units]" id="￼units2" value="VALUE_2" />
                        <label class="btn icon-" for="￼units2">VALUE_2</label>
                        <input data-bind="checked: data.￼units" type="radio" name="data[Claim][units￼]" id="￼units3" value="VALUE_3" />
                        <label class="btn icon-" for="￼units3">VALUE_3</label>
                        <input data-bind="checked: data.units￼" type="radio" name="data[Claim][￼units]" id="￼units4" value="VALUE_4" />
                        <label class="btn icon-" for="￼units4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Location:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.location" type="radio" name="data[Claim][location]" id="location0" value="VALUE_0" />
                        <label class="btn icon-" for="location0">VALUE_0</label>
                        <input data-bind="checked: data.￼location" type="radio" name="data[Claim][location￼]" id="￼location1" value="VALUE_1" />
                        <label class="btn icon-" for="￼location1">VALUE_1</label>
                        <input data-bind="checked: data.￼location" type="radio" name="data[Claim][￼location]" id="￼location2" value="VALUE_2" />
                        <label class="btn icon-" for="￼location2">VALUE_2</label>
                        <input data-bind="checked: data.￼location" type="radio" name="data[Claim][location￼]" id="￼location3" value="VALUE_3" />
                        <label class="btn icon-" for="￼location3">VALUE_3</label>
                        <input data-bind="checked: data.location￼" type="radio" name="data[Claim][￼location]" id="￼location4" value="VALUE_4" />
                        <label class="btn icon-" for="￼location4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Type of Neighborhood:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.neighborhood" type="radio" name="data[Claim][neighborhood]" id="neighborhood0" value="VALUE_0" />
                        <label class="btn icon-" for="neighborhood0">VALUE_0</label>
                        <input data-bind="checked: data.￼neighborhood" type="radio" name="data[Claim][neighborhood￼]" id="￼neighborhood1" value="VALUE_1" />
                        <label class="btn icon-" for="￼neighborhood1">VALUE_1</label>
                        <input data-bind="checked: data.￼neighborhood" type="radio" name="data[Claim][￼neighborhood]" id="￼neighborhood2" value="VALUE_2" />
                        <label class="btn icon-" for="￼neighborhood2">VALUE_2</label>
                        <input data-bind="checked: data.￼neighborhood" type="radio" name="data[Claim][neighborhood￼]" id="￼neighborhood3" value="VALUE_3" />
                        <label class="btn icon-" for="￼neighborhood3">VALUE_3</label>
                        <input data-bind="checked: data.neighborhood￼" type="radio" name="data[Claim][￼neighborhood]" id="￼neighborhood4" value="VALUE_4" />
                        <label class="btn icon-" for="￼neighborhood4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Home comparison:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.home_comparison" type="radio" name="data[Claim][home_comparison]" id="home_comparison0" value="VALUE_0" />
                        <label class="btn icon-" for="home_comparison0">VALUE_0</label>
                        <input data-bind="checked: data.￼home_comparison" type="radio" name="data[Claim][home_comparison￼]" id="￼home_comparison1" value="VALUE_1" />
                        <label class="btn icon-" for="￼home_comparison1">VALUE_1</label>
                        <input data-bind="checked: data.￼home_comparison" type="radio" name="data[Claim][￼home_comparison]" id="￼home_comparison2" value="VALUE_2" />
                        <label class="btn icon-" for="￼home_comparison2">VALUE_2</label>
                        <input data-bind="checked: data.￼home_comparison" type="radio" name="data[Claim][home_comparison￼]" id="￼home_comparison3" value="VALUE_3" />
                        <label class="btn icon-" for="￼home_comparison3">VALUE_3</label>
                        <input data-bind="checked: data.home_comparison￼" type="radio" name="data[Claim][￼home_comparison]" id="￼home_comparison4" value="VALUE_4" />
                        <label class="btn icon-" for="￼home_comparison4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label"># of levels above grade:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.levels_above_grade" type="radio" name="data[Claim][levels_above_grade]" id="levels_above_grade0" value="VALUE_0" />
                        <label class="btn icon-" for="levels_above_grade0">VALUE_0</label>
                        <input data-bind="checked: data.￼levels_above_grade" type="radio" name="data[Claim][levels_above_grade￼]" id="￼levels_above_grade1" value="VALUE_1" />
                        <label class="btn icon-" for="￼levels_above_grade1">VALUE_1</label>
                        <input data-bind="checked: data.￼levels_above_grade" type="radio" name="data[Claim][￼levels_above_grade]" id="￼levels_above_grade2" value="VALUE_2" />
                        <label class="btn icon-" for="￼levels_above_grade2">VALUE_2</label>
                        <input data-bind="checked: data.￼levels_above_grade" type="radio" name="data[Claim][levels_above_grade￼]" id="￼levels_above_grade3" value="VALUE_3" />
                        <label class="btn icon-" for="￼levels_above_grade3">VALUE_3</label>
                        <input data-bind="checked: data.levels_above_grade￼" type="radio" name="data[Claim][￼levels_above_grade]" id="￼levels_above_grade4" value="VALUE_4" />
                        <label class="btn icon-" for="￼levels_above_grade4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Exterior damages:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.ext_damages" type="radio" name="data[Claim][ext_damages]" id="ext_damages0" value="VALUE_0" />
                        <label class="btn icon-" for="ext_damages0">VALUE_0</label>
                        <input data-bind="checked: data.￼ext_damages" type="radio" name="data[Claim][ext_damages￼]" id="￼ext_damages1" value="VALUE_1" />
                        <label class="btn icon-" for="￼ext_damages1">VALUE_1</label>
                        <input data-bind="checked: data.￼ext_damages" type="radio" name="data[Claim][￼ext_damages]" id="￼ext_damages2" value="VALUE_2" />
                        <label class="btn icon-" for="￼ext_damages2">VALUE_2</label>
                        <input data-bind="checked: data.￼ext_damages" type="radio" name="data[Claim][ext_damages￼]" id="￼ext_damages3" value="VALUE_3" />
                        <label class="btn icon-" for="￼ext_damages3">VALUE_3</label>
                        <input data-bind="checked: data.ext_damages￼" type="radio" name="data[Claim][￼ext_damages]" id="￼ext_damages4" value="VALUE_4" />
                        <label class="btn icon-" for="￼ext_damages4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Firewall:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.firewall" type="radio" name="data[Claim][firewall]" id="firewall0" value="VALUE_0" />
                        <label class="btn icon-" for="firewall0">VALUE_0</label>
                        <input data-bind="checked: data.￼firewall" type="radio" name="data[Claim][firewall￼]" id="￼firewall1" value="VALUE_1" />
                        <label class="btn icon-" for="￼firewall1">VALUE_1</label>
                        <input data-bind="checked: data.￼firewall" type="radio" name="data[Claim][￼firewall]" id="￼firewall2" value="VALUE_2" />
                        <label class="btn icon-" for="￼firewall2">VALUE_2</label>
                        <input data-bind="checked: data.￼firewall" type="radio" name="data[Claim][firewall￼]" id="￼firewall3" value="VALUE_3" />
                        <label class="btn icon-" for="￼firewall3">VALUE_3</label>
                        <input data-bind="checked: data.firewall￼" type="radio" name="data[Claim][￼firewall]" id="￼firewall4" value="VALUE_4" />
                        <label class="btn icon-" for="￼firewall4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <div class="control-group">
				<label class="control-label">Contruction Type:</label>
				<div class="controls">
                    <div class="btn-group">
                        <input data-bind="checked: data.construction_type" type="radio" name="data[Claim][construction_type]" id="construction_type0" value="VALUE_0" />
                        <label class="btn icon-" for="construction_type0">VALUE_0</label>
                        <input data-bind="checked: data.￼construction_type" type="radio" name="data[Claim][construction_type￼]" id="￼construction_type1" value="VALUE_1" />
                        <label class="btn icon-" for="￼construction_type1">VALUE_1</label>
                        <input data-bind="checked: data.￼construction_type" type="radio" name="data[Claim][￼construction_type]" id="￼construction_type2" value="VALUE_2" />
                        <label class="btn icon-" for="￼construction_type2">VALUE_2</label>
                        <input data-bind="checked: data.￼construction_type" type="radio" name="data[Claim][construction_type￼]" id="￼construction_type3" value="VALUE_3" />
                        <label class="btn icon-" for="￼construction_type3">VALUE_3</label>
                        <input data-bind="checked: data.construction_type￼" type="radio" name="data[Claim][￼construction_type]" id="￼construction_type4" value="VALUE_4" />
                        <label class="btn icon-" for="￼construction_type4">VALUE_4</label>
                        
                    </div>
				</div>
			</div>
            <h4>Exterior Wall Finish</h4>
            
        </div>
	</div>
	<div class="row-fluid">
		<div class="span12">
            <div class="btn-group pull-right">
                <input type="submit" value="Finish Later" data-bind="fastClick: preliminarySave" class="btn">
                <input type="submit" value="Save" data-bind="fastClick: preliminaryProcess" class="btn btn-primary">
            </div>
		</div>
	</div>
	</form>
</div>