<div data-bind="visible: (claims.new_claims().length + claims.open_claims().length)  == 0">
    <div class="row-fluid">
        <div class="span12">
            <p>If you aren't seeing any Claims in the New or In Progress lists, then you may not have any claims associated to your user in the system.</p>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs nav-stacked">
			<li class="nav-header">Currently Open</li>
			<li data-bind="with: selectedClaim"><a href="#" data-bind="text: data.claimFileID+' '+data.last_name, fastClick: select">1217 Austin</a></li>
		</ul>
    </div>
</div>
<div class="row-fluid">
	<div class="span6">
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-header">New Claims</li>
            <li><a href="#" data-bind="fastClick: claims.update"><i>Check for new Claims</i></a></li>
            <!-- ko foreach : claims.new_claims-->
			<li><a href="#" data-bind="text: data.claimFileID+' '+data.last_name, fastClick: select">1217 Austin</a></li>
            <!-- /ko -->
		</ul>
    </div>
    <div class="span6">
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-header">In Progress</li>
			<!-- ko foreach : claims.open_claims-->
			<li><a href="#" data-bind="text: data.claimFileID+' '+data.last_name, fastClick: select">1217 Austin</a></li>
            <!-- /ko -->
		</ul>
	</div>
</div>
