<div class="row-fluid">
	<div class="span8 offset2">
		<img src="img/logo.png" />
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<h4>Welcome!</h4>
		<p>Please log in with your User ID and password to continue.</p>
        <p>205079</p>
	</div>
	<div class="span8" data-bind="with: user">
		<form id="user_login" class="topcoat-well">
			<input name="data[User][userID]" class="span12 input" type="number" placeholder="User ID"/>
			<input name="data[User][passwd]" class="span12" type="password" placeholder="Password"/>
			<a data-bind="fastClick: loginSubmit" href="#" class="noajax btn btn-block btn-large btn-primary">Login</a>
			<a data-bind="fastClick: $root.loadPage.bind($data,'register')" href="#" class="noajax btn btn-block btn-large">Register</a>
			<p class="text-center"><br /><br /><a data-bind="fastClick: $root.loadPage.bind($data,'recover')" href="#" class="noajax">Having Trouble Logging In?</a></p>
		</form>
	</div>
</div>
