<div data-bind="with: selectedClaim">
    <form data-bind="submit: savePicture">
    <div class="row-fluid">
        <div class="span6">
            <h4>Pictures</h4>
        </div>
        <div class="span6">
            <input data-bind="checked: use_library"  id="use_library" type="checkbox" value="1" />
            <label for="use_library" class="btn btn-block icon-">Use pictures from album</label>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Left Front</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_front_left')">
                    <img data-bind="visible: images.pic_front_left() === ''" src="img/camera.png" />
                    <img id="pic_front_left" data-bind="attr: { src:images.pic_front_left }" />
            </a>
        </div>
        <div class="span6">
            <h4>Right Front</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_front_right')">
                    <img data-bind="visible: images.pic_front_right() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_front_right }" />
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Left Rear</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_rear_left')">
                    <img data-bind="visible: images.pic_rear_left() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_rear_left }" />
            </a>
        </div>
        <div class="span6">
            <h4>Right Rear</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_rear_right')">
                    <img data-bind="visible: images.pic_rear_right() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_rear_right }" />
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Roof Front</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_roof_front')">
                    <img data-bind="visible: images.pic_roof_front() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_roof_front }" />
            </a>
        </div>
        <div class="span6">
            <h4>Roof Rear</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_roof_rear')">
                    <img data-bind="visible: images.pic_roof_rear() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_roof_rear }" />
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Water Depth Inside</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_water_inside')">
                    <img data-bind="visible: images.pic_water_inside() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_water_inside }" />
            </a>
        </div>
        <div class="span6">
            <h4>Water Depth Outside</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_water_outside')">
                    <img data-bind="visible: images.pic_water_outside() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_water_outside }" />
            </a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Optional 1</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional1')">
                    <img data-bind="visible: images.pic_optional1() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional1 }" />
            </a>
            <label>Optional 1 Title</label>
            <input data-bind="value: data.pic_optional1_notes" type="text" class="span12" placeholder="">
        </div>
        <div class="span6">
            <h4>Optional 2</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional2')">
                    <img data-bind="visible: images.pic_optional2() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional2 }" />
            </a>
            <label>Optional 2 Title</label>
            <input data-bind="value: data.pic_optional2_notes" type="text" class="span12" placeholder="">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Optional 3</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional3')">
                    <img data-bind="visible: images.pic_optional3() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional3 }" />
            </a>
            <label>Optional 3 Title</label>
            <input data-bind="value: data.pic_optional3_notes" type="text" class="span12" placeholder="">
        </div>
        <div class="span6">
            <h4>Optional 4</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional4')">
                    <img data-bind="visible: images.pic_optional4() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional4 }" />
            </a>
            <label>Optional 4 Title</label>
            <input data-bind="value: data.pic_optional4_notes" type="text" class="span12" placeholder="">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Optional 5</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional5')">
                    <img data-bind="visible: images.pic_optional5() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional5 }" />
            </a>
            <label>Optional 5 Title</label>
            <input data-bind="value: data.pic_optional5_notes" type="text" class="span12" placeholder="">
        </div>
        <div class="span6">
            <h4>Optional 6</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional6')">
                    <img data-bind="visible: images.pic_optional6() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional6 }" />
            </a>
            <label>Optional 6 Title</label>
            <input data-bind="value: data.pic_optional6_notes" type="text" class="span12" placeholder="">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Optional 7</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional7')">
                    <img data-bind="visible: images.pic_optional7() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional7 }" />
            </a>
            <label>Optional 7 Title</label>
            <input data-bind="value: data.pic_optional7_notes" type="text" class="span12" placeholder="">
        </div>
        <div class="span6">
            <h4>Optional 8</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional8')">
                    <img data-bind="visible: images.pic_optional8() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional8 }" />
            </a>
            <label>Optional 6 Title</label>
            <input data-bind="value: data.pic_optional8_notes" type="text" class="span12" placeholder="">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Optional 9</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional9')">
                    <img data-bind="visible: images.pic_optional9() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional9 }" />
            </a>
            <label>Optional 5 Title</label>
            <input data-bind="value: data.pic_optional9_notes" type="text" class="span12" placeholder="">
        </div>
        <div class="span6">
            <h4>Optional 10</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional10')">
                    <img data-bind="visible: images.pic_optional10() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional10 }" />
            </a>
            <label>Optional 10 Title</label>
            <input data-bind="value: data.pic_optional10_notes" type="text" class="span12" placeholder="">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h4>Optional 11</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional11')">
                    <img data-bind="visible: images.pic_optional11() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional11 }" />
            </a>
            <label>Optional 11 Title</label>
            <input data-bind="value: data.pic_optional11_notes" type="text" class="span12" placeholder="">
        </div>
        <div class="span6">
            <h4>Optional 12</h4>
            <a class="picthumbnail"  data-bind="click: getPhoto.bind($data,'pic_optional12')">
                    <img data-bind="visible: images.pic_optional12() === ''" src="img/camera.png" />
                    <img data-bind="attr: { src:images.pic_optional12 }" />
            </a>
            <label>Optional 12 Title</label>
            <input data-bind="value: data.pic_optional12_notes" type="text" class="span12" placeholder="">
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <input type="submit" value="Save" class="btn btn-primary pull-right">		
        </div>
    </div>
    </form>
</div>
