<div class="row-fluid">
	<div class="span12">
        <form id="upload_settings">
            <ul class="nav nav-tabs nav-stacked">
                <li class="nav-header">Claims to Upload</li>
                <!-- ko foreach : claims.open_claims-->
                <li class="uploader"><span  data-bind="text: data.claimFileID+' '+data.last_name">1217 Austin</span>
                    <div class="btn-group pull-right">
                        <input data-bind="checked: upload_preliminary, attr: { id: 'upload_preliminary'+$index() }" type="checkbox" value="1" />
                        <label data-bind="attr: { for: 'upload_preliminary'+$index() }" class="btn icon-">Preliminary</label>
                        <input data-bind="checked: upload_advanced, attr: { id: 'upload_advanced'+$index() }" type="checkbox" value="1" />
                        <label data-bind="attr: { for: 'upload_advanced'+$index() }" class="btn icon-">Advanced</label>
                        <input data-bind="checked: upload_engineer, attr: { id: 'upload_engineer'+$index() }" type="checkbox" value="1" />
                        <label data-bind="attr: { for: 'upload_engineer'+$index() }" class="btn icon-">Engineer</label>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
        </form>
	</div>
</div>
<div class="row-fluid progress_bar">
    <div class="span12">
        <h4 data-bind="text: claims.progress.title"></h4>
        <div class="progress">
            <div id="image_progress" data-bind="attr: { style: 'width:'+claims.progress.total()+'%;' }" class="bar"></div>
        </div>
    </div>
</div>
<div class="row-fluid">
	<div class="span">
		<a href="#" data-bind="fastClick: claims.upload" class="btn btn-primary btn-block">Upload Now</a>
	</div>
</div>